*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.heroImage{
    height: 100%;
    width: 100%;
    position: relative;
}
.heroImage img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
   

}
.heroImage::after{
    content: "";
    background-color: #111;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
}
.about .about-text{
    width: 500px;
}
.micro img{
    width: 70px;

}
.service{
    background-color: whitesmoke;
}
.service h2:hover{
    color: lightskyblue;
    transition: 0.1s;
}
.card{


}