*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    overflow-x: hidden;
 }
.heroImage{
    height: 100%;
    width: 100%;
    position: relative;
}
.heroImage img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
   

}
.heroImage::after{
    content: "";
    background-color: #111;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
}
.about .about-text{
    width: 500px;
}
.micro img{
    width: 70px;

}
.service{
    background-color: whitesmoke;
}
.service h2:hover{
    color: lightskyblue;
    transition: 0.1s;
}
.card img{
 height: 300px;
}
/* .card img:hover {
    width: 80% !important;
    height: 80% !important;
    transition: width 2s height 2s;
    z-index: 999;
}
.card:hover .tooltip {
    visibility: visible; */
  
hr{
    width: 3rem;
    height: 5px;
    background-color: green;
}
.pricing .card{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}